.App {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.button-container{
  display: flex;
  flex-direction: column;
}

.car-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
}

.profileCard{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 20px 20px;
  padding: 30px;
  border-style: outset;
  background-color: antiquewhite;
}

.foto_card{
  height: 50%;
  width: auto; 
}

.cardsInRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 60px;
}

.stringInProfileCard{
  color: gray;
  margin: 10px 0px;
}